<!DOCTYPE html>
<html ng-app="thesis">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <title>Thesis</title>
</head>
<body ng-controller="LoginController as login">

<header id="header" style="height: 80px">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <nav>
                        <ul class="sf-menu" style="margin-right: 80px">


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>


<p style="color: #ff0000" ng-show="login.incorrectUsername">Incorrect email or password</p>
<p style="color: #ff0000" ng-show="error">You have been logged out or tried to access a restricted page.</p>
<form  ng-submit="submitForm()"  name="form">
    Email: <input type="text" name="email" ng-model="emailValue"><br>
    Wachtwoord: <input type="password" name="password" ng-model="passwordValue"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>