<!DOCTYPE html>
<html ng-app="thesis">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
    <title>Thesis</title>
</head>
<body ng-controller="RegisterController as register">

<header id="header" style="height: 80px">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <nav>
                        <ul class="sf-menu" style="margin-right: 80px">


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<form  ng-submit="submitForm()"  name="form">
    <input type="text" name="email" ng-model="emailValue">
    <input type="password" name="password" ng-model="passwordValue">
    <input type="submit" value="Submit">
</form>

</body>
</html>