<!-- Tabs Go Here -->


<header id="header" style="height: 80px" ng-controller="MainController as main">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <nav>
                        <ul class="sf-menu" style="margin-right: 80px">
                            <li ng-class="{ current:tab.isSet(1) }">
                                <a href ng-click="tab.setTab(1)">Counts</a>
                            </li>
                            <li ng-class="{ current:tab.isSet(2) }">
                                <a href ng-click="tab.setTab(2)">Timers</a>
                            </li>
                            <li ng-class="{ current:tab.isSet(3) }">
                                <a href ng-click="tab.setTab(3)">Gauges</a>
                            <li ng-class="{ current:tab.isSet(4) }">
                                <a href ng-click="tab.setTab(4); main.refreshSlider()">Histogram</a>
                            </li>
                            </li>
                            <li ng-class="{ current:tab.isSet(5) }">
                                <a href ng-click="tab.setTab(5); main.refreshSlider()">Meters</a>
                            </li>
                            <li ng-class="{ current:tab.isSet(6) }">
                                <a href ng-click="tab.setTab(6)">Settings</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="content">


    <!--  Description Tab's Content  -->
    <counts ng-show="tab.isSet(1)" ng-controller="ChartController as chart"></counts>

    <!--  Spec Tab's Content  -->
    <timers ng-show="tab.isSet(2)" ng-controller="TimerController as timer"></timers>

    <gauges ng-show="tab.isSet(3)" ng-controller="GaugeController as gauge"></gauges>
    <histogram ng-show="tab.isSet(4)" ng-controller="HistogramController as hist"></histogram>
    <!--  Review Tab's Content  -->
    <meters ng-show="tab.isSet(5)" ng-controller="MeterController as meter"></meters>
    <settings ng-show="tab.isSet(6)" ng-controller="SettingsController as settings"></settings>


</section>