<div>
    <h3>Combined</h3>
    <table>
        <thead>
        <tr>
            <th>Naam</td>
            <th>Hoogste waarde</td>
        </tr>
        </thead>
        <tr style="width: 100%" ng-repeat="object in highest.combinedValues">
            <td style="width: 50%">{{object.name}}</td>
            <td style="width: 50%">{{object.highest}}</td>
        </tr>
    </table>
</div>

<div ng-repeat="version in highest.versions">
    <h3>{{version}}</h3>
    <table>
        <thead>
        <tr>
            <th>Naam</td>
            <th>Hoogste waarde</td>
        </tr>
        </thead>
        <tr style="width: 100%" ng-repeat="value in highest.objects[$index]">
            <td style="width: 50%">{{value.name}}</td>
            <td style="width: 50%">{{value.highest}}</td>
        </tr>
    </table>
</div>