<div ng-repeat="device in combinedReverse.devices">
    <h3>{{device}}</h3>
    <div ng-repeat="version in combinedReverse.versions[$index]">
        <h4>{{version}}</h4>
        <rzslider
                rz-slider-model="slider[$parent.$index][$index].min"
                rz-slider-high="slider[$parent.$index][$index].max"
                rz-slider-options="slider[$parent.$index][$index].options"></rzslider>
        <canvas id="bar" class="chart chart-bar"
                chart-data="data[$parent.$index][$index]" chart-labels="labels[$parent.$index][$index]">
        </canvas>
    </div>
</div>