<div ng-repeat="device in combinedReverse.devices">
    <h3>{{device}}</h3>
    <div ng-repeat="version in combinedReverse.versions[$index]">
        <h4>{{version}}</h4>
        <rzslider
                rz-slider-model="slider[$parent.$index][$index].min"
                rz-slider-high="slider[$parent.$index][$index].max"
                rz-slider-options="slider[$parent.$index][$index].options"></rzslider>
        <canvas id="bar" class="chart chart-bar"
                chart-data="data[$parent.$index][$index]" chart-labels="labels[$parent.$index][$index]">
        </canvas>
        <table>
            <thead>
            <tr>
                <th>Eigenschap</td>
                <th>Waarde</td>
            </tr>
            </thead>
            <tr style="width: 100%" ng-repeat="value in combinedReverse.objects[$parent.$index][$index]">
                <td style="width: 50%">{{value.name}}</td>
                <td style="width: 50%">{{value.value}}</td>
            </tr>
        </table>
    </div>
</div>