<div>
    <h3>Combined</h3>
    <table>
        <thead>
        <tr>
            <th>Eigenschap</td>
            <th>Waarde</td>
        </tr>
        </thead>
        <tr style="width: 100%" ng-repeat="object in data.combinedValues">
            <td style="width: 50%">{{object.name}}</td>
            <td style="width: 50%">{{object.value}}</td>
        </tr>
    </table>
</div>

<div ng-repeat="version in data.versions">
    <h3>{{version}}</h3>
    <table>
        <thead>
        <tr>
            <th>Eigenschap</td>
            <th>Waarde</td>
        </tr>
        </thead>
        <tr style="width: 100%" ng-repeat="value in data.objects[$index]">
            <td style="width: 50%">{{value.name}}</td>
            <td style="width: 50%">{{value.value}}</td>
        </tr>
    </table>
</div>