<div ng-repeat="version in verDev.versions">
    <h3>{{version}} </h3>
    <div ng-repeat="device in verDev.devices[$index]">
        <h4>{{device}}</h4>
        <table>
            <thead>
            <tr>
                <th>Naam</td>
                <th>Gemiddelde verstreken tijd</td>
            </tr>
            </thead>
            <tr style="width: 100%" ng-repeat="value in verDev.objects[$parent.$index][$index]">
                <td style="width: 50%">{{value.name}}</td>
                <td style="width: 50%">{{value.durationTime}} Seconden</td>
            </tr>
        </table>
    </div>
</div>

